@model List<Post>
@if(Model!=null){
    <div><span class=" d-flex justify-content-end  mt-3"><a href='@Url.Action("CreatePost", "Post")' class="btn btn-primary ">Tạo bài viết mới</a></span></div>
    @foreach(var item in Model){
     <div class="container-sm mt-5" id="postContainer-@item.id">
        <div class="row justify-content-center">
            <div class="col-7 bg-white" style="border-radius:10px">
                <div>
                    
                     <div>
                        <div class=" d-flex mt-3 justify-content-between align-items-center  w-100">
                            <h3 >@item.title</h3>
                            <div class="" style="left:auto">
                            
                                <a  style="text-decoration: none; color: inherit;"class=" deleteIcon" data-post-id="@item.id"><i class="fa-solid fa-trash "  ></i></a>
                            @* <a  style="text-decoration: none; color: inherit;"asp-action="UpdatePost" asp-controller="Post" asp-route-id="@item.id"><i class="fa-solid fa-pen-to-square"></i></a> *@
                                
                            </div>
                        </div>
                        <p>@item.createDate</p>
                    </div>
                    
                    <div class="d-flex align-items-center mt-3" style="padding: 0 10%">
                        <div>
                            <img src="~/img/review1.jpg" style="border-radius:50%; width:40px"/>
                        </div>
                        <div class="ms-2">
                           @if (item.User != null) { 
                                <span><b>@item.User.username</b></span>
                            }
                        </div>
                    </div>
                    <div class=" mt-3 " style="padding: 0 10%">
                        <img src ="@item.thumbnail" style="border-radius:8px" class="img-fluid"/>
                    </div>
                    <div class="d-flex justify-content-center mt-3" style=" margin:0 auto ; padding:0 10%">
                        <p>@item.content</p>
                    </div>
                    <hr>
                    
                    <div class="d-flex justify-content-between align-items-center p-2 ">
                        <div class="d-flex align-items-center heartIcons" onclick="toggleHearts(this)">
                            <div class="regularHeart"><i class="fa-regular fa-heart"></i></div>
                            <div class="solidHeart" style="display:none;"><i class="fa-solid fa-heart"></i></div>
                            <div>yêu thích</div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center gap-2 ">
                            <div>
                                <a  style="text-decoration: none; color: inherit;" class="commentIcon" data-post-id="@item.id" >
                                <i class="fa-solid fa-comment  " ></i></a>
                            </div>
                            <div>bình luận</div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <div><i class="fa-solid fa-share"></i></div>
                            <div>chia sẻ</div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    }
}else{
    <div >
        <span class=" d-flex justify-content-center align-items-center mt-3 mr-3"><a href='@Url.Action("CreatePost", "Post")' class="btn btn-primary ">bạn chưa có bài viết nào. Tạo ngay</a></span>
        
    </div>
}
<script>
// tym
function deletePost(postId) {
        var xhr = new XMLHttpRequest();
       xhr.open("POST", `/Admin/Disable?id=`+postId , true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                 
                } else {
                    console.error('Lỗi: ' + xhr.status);
                }
            }
        };
        xhr.send();
    }

    document.querySelectorAll(".deleteIcon").forEach(icon => {
        icon.addEventListener("click", function() {
            var postId = this.getAttribute("data-post-id");
       
            var confirmation = confirm("Bạn có chắc muốn xóa bài viết này?");
            if (confirmation) {
                deletePost(postId);
            }
        });
    });

</script>

